# misc
.DS_Store

# local env files
# do not commit any .env*.local files to git, except for the .env.example file. https://create.t3.gg/en/usage/env-variables#using-environment-variables
# you should include .env, .env.development, .env.production as they provide good defaults: https://nextjs.org/docs/pages/building-your-application/configuring/environment-variables#default-environment-variables
.env*.local

# custom
widgets.json
.vscode/*
store*.json
todo.txt
.turbo