{
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "jsxSingleQuote": true,
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 300,
  "proseWrap": "preserve",
  "requirePragma": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": false,
  "tabWidth": 2
}